@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito+Sans:wght@400;700&family=Ysabeau+SC:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;
}

.wrapper {
  position: relative;
  transform: scale(0.89);
  transition: transform 0.3s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.shine {
  width: 100vw;
  height: 98px;
  background-color: #000;
  position: absolute;
  top: 970px;
  z-index: 200;
  transition: top 0.3s;
}

.container-body {
  max-width: 100vw;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 1;
}

.cool-loading-animation {
  display: grid;
  place-items: center;
  height: 100px;
  color: #fff;
  z-index: 20;
  position: absolute;
  margin-top: 280px;
  width: 100vw;
}
@media (max-width: 830px) {
  .cool-loading-animation {
    display: none;
  }
}
.cool-loading-animation #my-intro {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 6rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-family: "Ysabeau SC", sans-serif;
}
.cool-loading-animation #my-intro .char {
  transform: translateY(-115px);
  transition: transform 0.5s;
}

.btn {
  border: none;
  padding: 1.2rem 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.btn span {
  margin-left: 10px;
}
.btn span i {
  font-size: 12px;
  transition: all 0.3s;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  font-family: "Ysabeau SC", sans-serif;
  height: 100%;
}
header .nav-bg {
  background-color: #ffffff;
}
header .nav-bg nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-bg nav .logo {
  margin-left: 15px;
}
@media (max-width: 450px) {
  header .nav-bg nav .links {
    display: none;
  }
}
header .nav-bg nav .links ul {
  display: flex;
  justify-content: space-around;
  width: 450px;
}
header .nav-bg nav .links ul li {
  list-style-type: none;
  position: relative;
}
header .nav-bg nav .links ul li::before {
  transition: all 0.3s;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  right: 100%;
  background-color: #000;
}
header .nav-bg nav .links ul li:hover::before {
  right: 0;
  opacity: 1;
}
header .nav-bg nav .links ul li a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 800px) {
  header .nav-bg nav .links {
    display: none;
  }
}
header .nav-bg nav .header-btn {
  color: #ffffff;
  font-size: 14px;
  background-color: #000;
  transition: all 0.3s;
}
header .nav-bg nav .header-btn:hover {
  background-color: rgba(0, 0, 0, 0.93);
}

main {
  font-family: "Ysabeau SC", sans-serif;
  margin: 0 auto;
  padding: 15px 0 0 0;
}
main .hero-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  main .hero-section {
    height: 500px;
  }
}
main .hero-section > div:nth-child(odd) {
  background-color: #fff;
  width: 30vw;
}
@media (max-width: 1024px) {
  main .hero-section > div:nth-child(odd) {
    width: 35vw;
  }
}
@media (max-width: 830px) {
  main .hero-section > div:nth-child(odd) {
    width: 50vw;
  }
}
main .hero-section .left {
  height: 100%;
}
main .hero-section .left .up {
  text-align: center;
  border-bottom: 1px solid #a9a9a9;
  height: 50%;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main .hero-section .left .up h3 {
  text-transform: uppercase;
  font-size: 24px;
}
main .hero-section .left .up p {
  font-size: 16px;
}
main .hero-section .left .down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: 50%;
  padding: 40px 15px;
  background-color: #000;
  color: #ffffff;
}
@media (max-width: 1440px) {
  main .hero-section .left .down {
    padding: 15px 10px;
  }
}
main .hero-section .left .down p {
  font-size: 16px;
  padding-left: 5.5rem;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 1440px) {
  main .hero-section .left .down p {
    padding-left: 1.4rem;
  }
}
@media (max-width: 1024px) {
  main .hero-section .left .down p {
    font-size: 12px;
  }
}
main .hero-section .left .down .open {
  margin-left: 3.9rem;
  position: relative;
}
@media (max-width: 1440px) {
  main .hero-section .left .down .open {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  main .hero-section .left .down .open {
    margin-left: 0.9rem;
  }
}
@media (max-width: 830px) {
  main .hero-section .left .down .open {
    margin-top: 2rem;
  }
}
main .hero-section .left .down a {
  position: relative;
  color: #ffffff;
  font-size: 20px;
}
@media (max-width: 1024px) {
  main .hero-section .left .down a {
    padding: 0.6rem;
    font-size: 16px;
  }
}
main .hero-section .left .down a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 450px;
  height: 2px;
  background-color: #ffffff;
}
@media (max-width: 1440px) {
  main .hero-section .left .down a::after {
    left: 10%;
    width: 310px;
  }
}
@media (max-width: 1024px) {
  main .hero-section .left .down a::after {
    left: 5%;
  }
}
main .hero-section .left .down a::before {
  content: "";
  background: url(../img/arrow.svg) no-repeat center center/cover;
  position: absolute;
  bottom: -12px;
  right: -255px;
  width: 70px;
  height: 70px;
  z-index: 5;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  main .hero-section .left .down a::before {
    right: -166px;
  }
}
@media (max-width: 1024px) {
  main .hero-section .left .down a::before {
    bottom: -19px;
  }
}
main .hero-section .left .down a:hover::before {
  width: 85px;
  height: 85px;
  bottom: -18px;
  right: -265px;
}
@media (max-width: 1440px) {
  main .hero-section .left .down a:hover::before {
    right: -72px;
  }
}
main .hero-section .left .down .content {
  position: relative;
}
main .hero-section .left .down .content::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  background-color: #fff;
  top: -58px;
  right: -275px;
  z-index: 2;
}
@media (max-width: 1440px) {
  main .hero-section .left .down .content::after {
    right: -183px;
  }
}
main .middle {
  position: relative;
}
main .middle-img {
  width: 100%;
  height: 100%;
}
main .middle-img img {
  width: 100%;
}
@media (max-width: 830px) {
  main .middle {
    display: none;
  }
}
main .right {
  height: 100%;
}
main .right .up {
  padding: 5px 55px;
  text-align: center;
  border-bottom: 1px solid #a9a9a9;
  background-color: #000;
  color: #ffffff;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  main .right .up {
    padding: 5px 35px;
  }
}
main .right .up p {
  font-size: 16px;
}
main .right .up span {
  padding: 0 15px;
}
main .right .up span i {
  font-size: 18px;
}
main .right .down .image {
  height: 300px;
}
@media (max-width: 1024px) {
  main .right .down .image {
    height: 250px;
  }
}/*# sourceMappingURL=style.css.map */